.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.card-body {
  border-top: 4px solid red;
  width: 90%;
  height: 100%;
  text-align: center;
  background: black;
  transition: border 2s;
}
.card-body:hover {
  border-bottom: 300px;
}
.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card img {
  width: 90%;
  object-fit: cover;
  transition: width 2s, height 2s, transform 2s;
  background: red;
}

.card h5 {
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}

@media screen and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header_input {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header_input {
    width: 100%;
  }
}
